@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-950 text-stone-50 px-7 md:px-10 pb-10

}
.stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d4d4d4; 
}

.subtitle{
    @apply text-4xl font-bold tracking-wide
}
.subdescription{
    @apply md:text-sm text-gray-400 text-[12px]
}
.shadow-border:hover{
    filter: drop-shadow(2px 4px 10px white);
}